.paginate{
    margin-left: 0.75%;
    margin-right: 0.75%;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: bold;
    height: auto;
}

.divPaginate{
    margin-top: 2%;
}

.paginate:hover{
    color:rgb(204, 0, 255);
}

.paginate:active{
    color:rgb(204, 0, 255);
    font-size: 100%;
}


@media (max-width: 992px){

}


@media (max-width: 768px){

}

@media (max-width: 576px){
    .paginate{
        box-sizing: border-box;
    }
    .divPaginate{
        display: flex;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 5% 0% 5% 0%;
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }
}